h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  font-size: 1em;
}

@mixin HoverGlow {
  cursor: pointer;
  color: $primary-1;
  text-shadow: $primary-1 2.5px 2.5px 10px;

  transition-duration: 0.1s;
}