/* Colors */
$purple-000: #6200EE;
$purple-111: #3200a6;
$primary-1: $purple-000;
$primary-2: $purple-111;

$white-111: #f1f1f1;
$white-000: #ffffff;

$black-111: #999999;
$black-222: #888888;
$black-333: #777777;
$black-444: #666666;
$black-555: #555555;
$black-666: #444444;
$black-777: #333333;
$black-888: #222222;
$black-999: #111111;
$black-000: #000000;

$transparent-color: rgba(0, 0, 0, 0);

/* Widths */
$max-width: 1200px;