/* Colors */
$purple-000: #6200EE;
$purple-111: #3200a6;
$primary-1: $purple-000;
$primary-2: $purple-111;

$white-111: #f1f1f1;
$white-000: #ffffff;

$black-000: #000000;
$black-111: #111111;
$black-222: #222222;
$black-333: #333333;
$black-444: #444444;
$black-555: #555555;
$black-666: #666666;
$black-777: #777777;
$black-888: #888888;
$black-999: #999999;

$danger: #CA0B00;

$transparent-color: rgba(0, 0, 0, 0);

/* Widths */
$max-width: 1200px;