/* Variables */
@import './_variables.scss';

/* Mixins */
@import './_buttons.scss';
@import './_inputs.scss';
@import './_links.scss';
@import './_paper.scss';
@import './_text.scss';

/* Components */
@import './home/home';
@import './login/login';
@import './login/register';
@import './navbar/navbar';

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: $black-222;
}

body * {
  box-sizing: border-box;
}

div.app_container {
  div.app_inner {
    margin: 0 auto;
    padding: 1rem;
    max-width: $max-width;
  }
}