/* Variables */
@import './_variables.scss';

/* Mixins */
@import './_buttons.scss';
@import './_inputs.scss';
@import './_links.scss';
@import './_paper.scss';
@import './_text.scss';

/* Components */
@import './event/event';
@import './event/eventAttendees';
@import './event/eventDetails';
@import './event/eventInformation';
@import './event/eventTitle';
@import './home/browse';
@import './home/event';
@import './home/eventListing';
@import './login/login';
@import './login/register';
@import './navbar/navbar';
@import './sidebar/sidebar';
@import './user/profile';

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: $white-111;
}

body * {
  box-sizing: border-box;
}

div.app_container {
  div.app_inner {
    margin: 0 auto;
    max-width: $max-width;
  }
}