main.create-event, main.update-event {
  section {
    padding: 0 1rem 1rem 1rem;

    form {
      label {
        display: block;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        input, textarea {
          margin-top: 0.5rem;
        }

        textarea {
          width: 100%;
          resize: none;
        }
      }

      p.error {
        text-align: center;
        margin-top: 1rem;
        color: $danger;
      }

      button {
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}